@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(34, 34, 34, 0.26666666666666666);
    border-radius: 6px;
}

body {
    font-size: .9rem;
    direction: ltr;
    font-optical-sizing: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    box-sizing: border-box;
}

input:-webkit-autofill {
    background-color: #f3f4f6 !important; /* Replace with your desired background color */
    box-shadow: 0 0 0 30px #f3f4f6 inset !important; /* Prevents the shadow from showing the autofill background */
    color: inherit !important; /* Keeps text color unchanged */
}

input:-moz-autofill {
    background-color: #f3f4f6 !important;
    box-shadow: 0 0 0 30px #f3f4f6 inset !important;
    color: inherit !important;
}

input:-ms-autofill {
    background-color: #f3f4f6 !important;
    box-shadow: 0 0 0 30px #f3f4f6 inset !important;
    color: inherit !important;
}
